:root {
    --border-color: #291D4D;
    --dialog-back: #FFF3B4;
    --menu-back: #FFE8D2;
    --menu-border: #A48465;
    --menu-color: #3A160D;
    --menu-selec-back: #7fc2ff;
}
*{
    box-sizing: border-box;
}
body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.game-container{
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    margin-top: 100px; /* 20 */
    outline: 1px solid white;
    transform: scale(3) translateY(45%);
}
.game-container canvas{
    image-rendering: pixelated;
}